page-report {

}
body {
  cursor: url('https://ionicframework.com/img/finger.png'), auto;
}

.header.table-header-report{
  margin-top: 25px;
}
.header .col {
  background-color: #f5f5f5;
}

.col {
  border: solid 1px grey;
  border-bottom-style: none;
  border-right-style: none;
}

.col:last-child {
  border-right: solid 1px grey;
}

.row:last-child .col {
  border-bottom: solid 1px grey;
}

span.red-sm-icon{
  height: 15px;
width: 15px;
background-color: red;
display: table;
border-radius: 50%;
margin: 10px auto;
}

span.yellow-sm-icon{
  height: 15px;
width: 15px;
background-color:#d8b200;
display: table;
border-radius: 50%;
margin: 10px auto;
}
span.green-sm-icon{
  height: 15px;
width: 15px;
background-color: green;
display: table;
border-radius: 50%;
margin: 10px auto;
}
